# Pruebas de Hipótesis - Correlación y Regresión

El estudiante debe descargar el archivo del siguiente enlace y realizar el respectivo análisis haciendo uso de los modelos lineales: https://www.dropbox.com/s/vv0f1k2y5nalpgx/bank-additional-full.csv?dl=0

Los datos están relacionados con las campañas de marketing directo de una institución bancaria portuguesa. Las campañas de marketing se basaron en llamadas telefónicas. A menudo, se requería más de un contacto con el mismo cliente, para poder acceder si el producto (depósito bancario) estaba ("sí") o no ("no") suscrito.

Las variables registradas son las siguientes:

-    `age` - edad
-    `job` - tipo de trabajo 
-    `marital` - estado civil
-    `education` - nivel educativo
-    `default` - crédito en incumplimiento
-    `housing` - crédito de vivienda
-    `loan` - préstamos personal
-    `contact` - tipo de contacto realizado
-    `month` - mes en que se hizo el último contacto
-    `day_of_week` - último día de contacto de la semana
-    `duration` - duración del último contacto, en segundos
-    `campaign` - número de contactos realizados durante esta campaña y para este cliente
-    `pdays` - número de días que pasaron después de que el cliente fue contactado por última vez desde una campaña anterior (999 significa que el cliente no fue contactado previamente)
-    `previous`- número de contactos realizados antes de esta campaña y para este cliente
-    `poutcome` - resultado de la campaña de marketing anterior
-    `emp.var.rate`- tasa de variación del empleo - indicador trimestral
-    `cons.price.idx` - índice de precios al consumidor - indicador mensual
-    `cons.conf.idx` - índice de confianza del consumidor - indicador mensual
-    `euribor3m` - euribor tasa de 3 meses - indicador diario
-    `nr.employed` - número de empleados
-    `y` - ¿el cliente ha suscrito un depósito a plazo?

Los datos fueron tomados de: S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology. In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM'2011, pp. 117-121, Guimarães, Portugal, October, 2011. EUROSIS.

**Asignatura: Estadistica 2**

**Profesor: Carlos Alfonso Mantilla Duarte**

**Grupo: F1**



<table style="font-size:14px;">
<thead>
<td style="text-align:center" ><strong>Integrante</strong></td>
<td style="text-align:center"><strong>Codigo</strong></td>
</thead>
<tr>
<td style="text-align:center">Orlando Alberto Moncada Rodriguez</td>
<td style="text-align:center">2170133</td>
</tr>
    <tr>
<td style="text-align:center">Santiago Andres Castro Duitama</td>
<td style="text-align:center">2170134</td>
</tr>
    <tr>
<td style="text-align:center">David Santiago Morales Norato</td>
<td style="text-align:center">2170102</td>
</tr>
</table>

## Importamos los datos

In [11]:
bank<-read.csv("bank-additional-full.csv")
head(bank)

  age job       marital education   default housing loan contact   month
1 56  housemaid married basic.4y    no      no      no   telephone may
2 57  services  married high.school unknown no      no   telephone may
3 37  services  married high.school no      yes     no   telephone may
4 40  admin.    married basic.6y    no      no      no   telephone may
5 56  services  married high.school no      no      yes  telephone may
6 45  services  married basic.9y    unknown no      no   telephone may
  day_of_week ... campaign pdays previous poutcome    emp.var.rate
1 mon         ... 1        999   0        nonexistent 1.1
2 mon         ... 1        999   0        nonexistent 1.1
3 mon         ... 1        999   0        nonexistent 1.1
4 mon         ... 1        999   0        nonexistent 1.1
5 mon         ... 1        999   0        nonexistent 1.1
6 mon         ... 1        999   0        nonexistent 1.1
  cons.price.idx cons.conf.idx euribor3m nr.employed y
1 93.994         -36.4         4.857     5191        no
2 93.994         -36.4         4.857     5191        no
3 93.994         -36.4         4.857     5191        no
4 93.994         -36.4         4.857     5191        no
5 93.994         -36.4         4.857     5191        no
6 93.994         -36.4         4.857     5191        no